# Пример для проекта на Node.js
# file: .github/workflows/show-directory.yml
name: ci
# on – определяет события, которые запускают воркфлоу
on: push
jobs:
  build: # имя взято для примера
    runs-on: ubuntu-latest

    steps:
      # Клонируем репозиторий
      - uses: actions/checkout@v4
      # Устанавливаем Node.js
      - uses: actions/setup-node@v4

      - run: make setup

      - run: make test

      - run: make lint

      - name: Print Hello from Hexlet
        uses: hexlet-components/hello-from-hexlet-action@release
